<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8"/>
    <title>郵便番号登録</title>
  </head>
  <body>
	 <h2>郵便番号登録</h2>
	 <form action="/insert" method="POST">
	   <input type="text" name="zip_codes[zip_code]" placeholder="郵便番号を入力" required>
	   <input type="text" name="zip_codes[prefecture]" placeholder="都道府県名を入力" required>
	   <input type="text" name="zip_codes[city]" placeholder="市区町村名を入力" required>
	   <input type="text" name="zip_codes[town_area]" placeholder="町域名を入力" required>
	   <input type="submit" value="登録">
	 </form>
  </body>
</html>